@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-container{
  border-bottom: 2px solid rgba(0,0,0,0.13);
}

  .logo h4{
    font-weight: 800;
  }

  .dm-toggle:hover{
    cursor: pointer;
  }

  .dm-toggle span{
    font-weight: 600;
  }

.countries{
  background-color: hsl(0, 0%, 95%);
  padding: 50px 0 100px;
  height: 100vh;
}

.search-container{
  margin-bottom: 50px;
  position: relative;
}

.back-btn,
.search-input,
.region-dropdown{
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

  .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
  }
    .search-icon{
      fill: #898989;
    }

  .search-input{
    width: 55%;
    height: 60px;
    padding-left: 60px;
  }
    .search-input::placeholder{
      font-size: 15px;
      font-weight: 600;
    }
  
  .region-dropdown{
    width: 200px;
  }

.countries-container a{
  color: hsl(200, 15%, 8%);
  text-decoration: none;
}

.country,
.country-flag img{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.country{
  background-color: #fff;
  border-radius: 10px;
}

.country-flag img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 175px;
}

.country-title{
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 800;
  padding: 30px 20px 20px;
  height: 75px;
}

.country-info{
  padding: 30px 20px 30px;
}

.country-info > div{
  margin-bottom: 5px;
}

.country-info span{
  font-weight: 600;
}

.back-btn{
  background-color: #fff;
  width: 130px;
  height: 40px;
}

.single-country-container{
  margin-top: 50px;
}

  .single-country-title h2{
    font-weight: 700;
  }

  .single-country-info div{
    margin-bottom: 5px;
  }

    .single-country-info span{
      font-weight: 600;
    }

/* Dark Mode */


.dark.navbar-container{
  background-color: #2B3743;
  color: #fff;
}

.dark.countries{
  background-color: #212D37;
}

.dark .single-country-container{
  color: #fff;
}
